<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="hibernate4AnnotatedSessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.tech.models.entities.Message</value>
                <value>com.tech.models.entities.ImagesMod</value>
                <value>com.tech.models.entities.Friend</value>
                <value>com.tech.models.entities.User</value>
                <value>com.tech.models.entities.UserRole</value>
                <value>com.tech.models.entities.UserInfo</value>
                <value>com.tech.models.entities.ChatroomEntities</value>
                <value>com.tech.models.entities.ChatroomMembers</value>
                <value>com.tech.models.entities.ChatroomPrivileges</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
     
    <bean id="messageDAO" class="com.tech.models.daos.MessageDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>

    <bean id="userDAO" class="com.tech.models.daos.UserDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>

    <bean id="imagesDAO" class="com.tech.models.daos.ImagesDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="friendDAO" class="com.tech.models.daos.FriendDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="userRoleDAO" class="com.tech.models.daos.UserRolesDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="userInfoDAO" class="com.tech.models.daos.UserInfoDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="chatroomEntitiesDAO" class="com.tech.models.daos.ChatroomEntitiesDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="chatroomMembersDAO" class="com.tech.models.daos.ChatroomMembersDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="chatroomPrivilegesDAO" class="com.tech.models.daos.ChatroomPrivilegesDAOimpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>


</beans>