<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="hibernate4AnnotatedSessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.tech.models.entities.Message</value>
                <value>com.tech.models.entities.ImagesMod</value>
                <value>com.tech.models.entities.Friend</value>
                <value>com.tech.models.entities.User</value>
                <value>com.tech.models.entities.UserRole</value>
                <value>com.tech.models.entities.UserInfo</value>
                <value>com.tech.models.entities.ChatroomEntities</value>
                <value>com.tech.models.entities.ChatroomMembers</value>
                <value>com.tech.models.entities.ChatroomPrivileges</value>
                <value>com.tech.models.entities.ChatroomBlacklist</value>
                <value>com.tech.models.entities.ChatroomWhitelist</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
</beans>