<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="hibernate4AnnotatedSessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.tech.Models.User</value>
                <value>com.tech.Models.ImagesMod</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
     
    <!--<bean id="messageDAO" class="com.tech.Models.MessageDAOImpl">-->
        <!--<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />-->
    <!--</bean>-->

    <bean id="userDAO" class="com.tech.Models.UserDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="imagesDAO" class="com.tech.Models.ImagesDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
</beans>